.background{
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
}
.background__:hover{
    transform: scale(1.1);
    transition-duration: 0.3s;
}
.background__shadow_container{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 100vh;
}
/* bg_shadow */
.bg_shadow{
    grid-column-start: 2;
    grid-column-end: 3;
    width: 120%;
    height: 120%;
    background-color: var(--YELLOW-COLOR);
    border-radius: 50%;

    position: absolute;
    top: -20rem;
    right: -10rem;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: -1;
}
/* product images */
.background__product{
    width: 50%;
    height: 50%;
    position: relative;
    transform: translate(-20%, 20%);
}
.background__image{
    width: 100%;
    height: 100%;
    position: absolute;
}
#background__image1{
    animation-name: moveToLeft;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes moveToLeft {
    0%{
        transform: rotate(0deg) translateX(0%) scale(0.9);
    }
    25%{
        transform: rotate(-2.5deg) translateX(-7%) scale(0.9);
    }
    50%{
        transform: rotate(-5deg) translateX(-14%) scale(0.9);
    }
    75%{
        transform: rotate(-7.5deg) translateX(-21%) scale(0.9);
    }
    100%{
        transform: rotate(-10deg) translateX(-25%) scale(0.9);
    }
}
#background__image2{
    animation-name: moveToRight;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes moveToRight {
    0%{
        transform: rotate(0deg) translateX(0%) scale(0.9);
    }
    25%{
        transform: rotate(2.5deg) translateX(6.25%) scale(0.9);
    }
    50%{
        transform: rotate(5deg) translateX(12.50%) scale(0.9);
    }
    75%{
        transform: rotate(7.5deg) translateX(18.75%) scale(0.9);
    }
    100%{
        transform: rotate(10deg) translateX(25%) scale(0.9);
    }
}
/* background__content_text */
.background__content_text{
    grid-column-start: 1;
    grid-column-end: 2;
    width: auto;
    height: 80%;

    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    padding:4.5vw 0 0 7.5vw;
    gap: 1.5rem;    
}
/* background links icon */
.background__links_icon{
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    /* background-color: rgb(255, 0, 0); */
}
.background__{
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--YELLOW-COLOR);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.background__icon{
    width: 1.5rem;
}
.background__icon.facebook{
    width: .8rem;
}
.background__icon.gmail{
    width: 1.4rem;
}
/* background title */
.background__title{
    font-size: clamp(1rem, 3vw, 3rem);
    color: var(--DARK-COLOR);
}
.background__paragraph{
    font-size: var(--PARAGRAPH-SIZE);
    color: var(--DARK-COLOR);
}
/* bubbles container */
.background__bubbles_container{
    width: 100px;
    height: 100px;
    /* position: relative; */
    transform: translate(5.5vw, -40vh);
}
.background__bubbles,
.background__bubbles::before,
.background__bubbles::after{
    position: absolute;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background: linear-gradient(to right top, transparent, var(--YELLOW-COLOR));
    margin: auto;
}
.background__bubbles{
    animation-name: bubblesUp;
    animation-duration: 1s;
    animation-timing-function: linear;
}
.background__bubbles::before{
    content: '';
    width: 60%;
    height: 60%;
    background: linear-gradient(to right top, transparent, var(--YELLOW-COLOR));
    transform: translate(4rem, -2em);

    animation-name: bubblesUpBefore;
    animation-duration: 1s;
    animation-timing-function: linear;
}
.background__bubbles::after{
    content: '';
    width: 70%;
    height: 70%;
    background: linear-gradient(to right top, transparent, var(--YELLOW-COLOR));
    transform: translate(5rem, 3rem);

    animation-name: bubblesUpAfter;
    animation-duration: 1s;
    animation-timing-function: linear;
}

@keyframes bubblesUp {
    from{
        transform: translateY(300%);
    }   
    to{
        transform: translateY(0);
    } 
}
@keyframes bubblesUpBefore {
    from{
        transform: translate(4rem, 200%);
    }   
    to{
        transform: translate(4rem, -2em);
    } 
}
@keyframes bubblesUpAfter {
    from{
        transform: translate(4rem, 400%);
    }   
    to{
        transform: translate(5rem, 3rem);
    } 
}

/* media queries for bg shadow */
@media screen and (max-width: 325px) {
    .background__shadow_container{
        position: relative;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr;
        width: 100%;
        height: 75vh;
    }
    .bg_shadow{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;

        margin: 7rem auto 0 auto;

        width: clamp(15rem, 40%, 25rem);
        height: clamp(15rem, 40%, 25rem);
        background-color: var(--YELLOW-COLOR);

        position: static;
    }
    .background__content_text{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;

        width: auto;
        height: auto;
        
        margin: 9rem auto 0 auto;

        display: flex;
        flex-flow: column nowrap;
        align-items: start;
        padding:4.5vw 7.5vw 0 7.5vw;
        gap: 1.5rem;    
    }
    .background__product{
        width: 70%;
        height: 70%;
        position: relative;
        transform: translate(2%);
    }
}
@media screen and (min-width: 326px)  and (max-width: 480px) {
    .background__shadow_container{
        position: relative;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr;
        width: 100%;
        height: 75vh;
    }
    .bg_shadow{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;

        margin: 8rem auto 0 auto;

        width: clamp(20rem, 50%, 30rem);
        height: clamp(20rem, 50%, 30rem);
        background-color: var(--YELLOW-COLOR);

        position: static;
    }
    .background__content_text{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;

        margin: 8rem auto 0 auto;

        width: auto;
        height: auto;
    
        display: flex;
        flex-flow: column nowrap;
        align-items: start;
        padding:4.5vw 7.5vw 0 7.5vw;
        gap: 1.5rem;    
    }

    .background__product{
        width: 70%;
        height: 70%;
        position: relative;
        transform: translate(0);
    }
    .background__image{
        width: 100%;
        height: 100%;
        position: absolute;
    }
    #background__image1{
        transform: rotate(-10deg) translateX(-25%) scale(0.9);
    }
    #background__image2{
        transform: rotate(10deg) translateX(25%) scale(0.9);
    }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
    .background__shadow_container{
        position: relative;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr;
        width: 100%;
        height: 75vh;
    }
    .bg_shadow{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;

        margin: 5rem auto 0 auto;

        width: clamp(20rem, 50%, 30rem);
        height: clamp(20rem, 50%, 30rem);
        background-color: var(--YELLOW-COLOR);

        position: static;
    }
    .background__content_text{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;

        width: auto;
        height: auto;
    
        display: flex;
        flex-flow: column nowrap;
        align-items: start;
        padding:4.5vw 7.5vw 0 7.5vw;
        gap: 1.5rem;    
    }
    .background__product{
        width: 70%;
        height: 70%;
        position: relative;
        transform: translate(0);
    }
    .background__image{
        width: 100%;
        height: 100%;
        position: absolute;
    }
    #background__image1{
        transform: rotate(-10deg) translateX(-25%) scale(0.9);
    }
    #background__image2{
        transform: rotate(10deg) translateX(25%) scale(0.9);
    }
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
    .background__shadow_container{
        position: relative;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        width: 100%;
        height: 100vh;
    }
    .bg_shadow{
        grid-column-start: 4;
        grid-column-end: 7;
        width: 125%;
        height: 125%;
        /* background-color: rgb(130, 42, 165);
        border-radius: 50%; */
    
        position: absolute;
        top: -25rem;
        right: -10rem;
    }
    .background__content_text{
        grid-column-start: 1;
        grid-column-end: 4;
        width: auto;
        height: 80%;
    
        display: flex;
        flex-flow: column nowrap;
        align-items: start;
        padding:4.5vw 0 0 7.5vw;
        gap: 1.5rem;    
    }
    .background__content_text{
        padding:15vw 0 0 7.5vw;
    }
}
@media screen and (min-width: 1001px) and (max-width: 1260px) {
    .bg_shadow{
        /* grid-column-start: 2;
        grid-column-end: 3; */
        width: 140%;
        height: 140%;
        /* background-color: rgb(130, 42, 165);
        border-radius: 50%; */
    
        position: absolute;
        top: -33rem;
        right: -10rem;
    }
    .background__product{
        width: 50%;
        height: 50%;
        position: relative;
        transform: translate(-20%, 30%);
    }
}
@media screen and (min-width: 1260px) and (max-width: 1460px) {
    .bg_shadow{
        /* grid-column-start: 2;
        grid-column-end: 3; */
        width: 140%;
        height: 140%;
        /* background-color: rgb(130, 42, 165);
        border-radius: 50%; */
    
        position: absolute;
        top: -30rem;
        right: -20rem;
    }
}

/* EXTRA SMALL SCREEN */
@media screen and (max-width: 481px) {
    .background__bubbles_container{
        display: none;
    }
}
/* SMALL SCREEN */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .background__bubbles_container{
        display: none;
    }
}
/* MEDIUM SCREEN */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .bg_shadow_animation{
        display: none;
    }
}
/* LARGE SCREEN */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .bg_shadow_animation{
        display: none;
    }
}
/* EXTRA LARGE SCREEN */
@media screen and (min-width: 1201px) {
    .bg_shadow_animation{
        display: none;
    }
}

/* MOBILE DEVICE LANDSCAPE */
@media screen and (max-height: 425px) and (min-aspect-ratio: 7/4){
}

/* nest hub */
@media screen and (height: 600px) and (width: 1024px) {
    .bg_shadow{
        grid-column-start: 2;
        grid-column-end: 3;
        width: 120%;
        height: 120%;
        background-color: var(--YELLOW-COLOR);
        border-radius: 50%;
    
        position: absolute;
        top: -19rem;
        right: -10rem;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        z-index: -1;
    }
}